// ▼字幕列表

.last-part{
	flex: 1 999 auto;
	overflow-y: auto;
	margin: 20px 0 0;
	border: solid #aaa;
	border-width: 1px 0;
	margin: 0 0 10px;
}

.sentence-wrap{
	list-style: none;
	.one-line{
		--side-words: #aaa;
		display: flex;
		font-size: 15px;
		font-weight: 500;
		height: var(--height);
		cursor: pointer;
		overflow: hidden;
		border-bottom: solid 1px #e9e9e9;
		&[class~=key-line]{
			border-bottom: dashed 1px #555;
		}
		&[class~=not_done]{
			// border-bottom: solid 1px rgba(255, 165, 0, 1) !important;
			// box-shadow: 0px -1px 1px rgba(255, 165, 0, 0.3) inset;
			background-color: rgba(255, 165, 0, 0.07);
		}
		&:hover{
			border-bottom: solid 1px #111;
		}
		&[class~=cur]{
			background: #ceffe7;
		}
	}
}

.one-line{
    .idx{
		flex: none;
		font-style: normal;
		font-weight: normal;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 2em;
		width: var(--width);
		color: var(--side-words);
	}
	.time{
		flex: none;
		margin: 0;
		padding: 0 12px;
		min-width: 180px;
		border: solid #aaa;
		border-width: 0 1px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--side-words);
		i{
			margin: 0 2px;
		}
		em{
			font-style: normal;
			font-weight: normal;
		}
	}
	.action-mark{
		width: 100px;
		flex-shrink: 0;
		text-align: right;
		line-height: 230%;
		padding: 0 15px 0 0;
		color: #bbb;
		border-left: solid 1px #eee;
	}
}

.one-line p.text{
	min-height: 1.3em;
	line-height: 1.3;
	margin: 0;
	padding: 0.4em 0.8em;
	box-sizing: content-box;
	word-break: break-word;
	position: relative;
	font-size: 16px;
	flex-grow: 1;
	&[class~=changed]{
		&::after{
			content: "";
			display: block;
			position: absolute;
			width: 0px;
			height: 0px;
			top: 0;
			left: 0;
			border-style: solid;
			border-width: 5px;
			border-color: red transparent transparent red;
		}
	}
	.word{
		&:hover{
			background: yellow;
		}
	}
}

