.outer{
    display: flex;
    padding: 10px;
    overflow: hidden;
    height: 100%;
    max-height: 100vh;
    .red{
		color: red;
	}
	.blue{
		color: blue;
	}
}

.left{
    flex: none;
    margin-right: 10px;
    min-width: 400px;
    width: calc(50% - 150px);
    height: 100%;
    resize: both;
    position: relative;
    border: solid 1px skyblue;
    .txt-box,
    iframe{
        display: block;
        width: 100%;
        height: 100%;
    }
}

.left{
    .hr-line{
        height: 1px !important;
    }
    // textarea{
    //     display: block;
    //     resize: horizontal;
    //     height: 50%;
    //     width: 100%;
    //     width: calc(100% + 5px);
    //     pointer-events: none;
    //     transform: translateY(-200%);
    //     background: rgba($color: #000000, $alpha: 0);
    //     border: none;
    // }
    .handler{
        position: absolute;
        top: 38%;
        right: -6px;
        display: block;
        width: 4px;
        height: 60px;
        background: blue;
        border-radius: 9px;
        cursor: e-resize;
    }
}

.txt-box{
    padding: 30px;
    white-space: break-spaces;
    font-size: 16px;
    line-height:1.5;
    overflow-y: auto;
    .article-text{
        min-height: 1em;
        margin: 0 0 1em;
        li{
            min-height: 1em;
            line-height: 1.8;
        }
        .just-wrote{
            background-color: rgba(160, 207, 255, 0.7);
        }
        .writing-line{
            background-color: #f1f1f1;
        }
        .writing{
            background: rgba(100, 255, 100, 1);
        }
        .gray-part{
            opacity: 0.6;
        }
    }
}


.right{
    resize: both;
    flex: auto;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    &>*{
        flex-shrink: 0;
    }
}

.dictionary{
    max-width: 30vw;
    padding: 0 0 0 10px;
}

.file-info-bar{
    background: #27272b;
    color: rgba(255,255,255, 0.7);
    padding: 3px 6px;
    margin: 0 0 5px;
}

.today-bar{
    margin: 5px 0 10px;
}

.wave-below{
    // margin: 0 0 10px;
    .practice-record{
        padding: 0 0 10px;
        span{
            margin: 0 15px 0 0;
        }
    }
    margin: 10px 0 0;
    border-radius: 2px;
    & > * + .el-button,
    & > * + .el-button-group{
        margin-left: 5px;
    }
}

