// ▼页面模式的外套
.outer-dom{
    padding: 20px 20px 20px;
    height: 100%;
    // ▼关闭弹出窗口的动画
    ::v-deep(.dialog-fade-enter-active),
    ::v-deep(.dialog-fade-enter-to),
    ::v-deep(.dialog-fade-leave-active),
    ::v-deep(.dialog-fade-leave-to){
        animation: none !important;
        transform: none !important;
    }
}

// ▼窗口模式的外套
.outer-dom ::v-deep(.el-dialog__body){
    height: calc(100vh - var(--top) * 2 - 30px);
    box-sizing: border-box;
    padding: 20px;
}
.outer-dom ::v-deep(.el-dialog__body),
.dict_model{
    display: flex;
    flex-direction: column;
}
.dict_model{
    height: 100%;
}

.search-bar{
    border: solid 1px #eee;
    margin: 0 0 10px;
    &>*{
        height: 28px;
        display: inline-block;
        vertical-align: middle;
    }
}

.tabs_wrap{
    flex-grow: 1;
    overflow-y: auto;
    // box-shadow: 0px 0px 3px red inset;
    // box-shadow: 0px 0px 3px blue;
    ::v-deep(.el-tabs__content){
        height: var(--page-height);
        overflow-y: auto;
    }
    .el-tabs{
        height: 100%;
        --el-tabs-header-height: 30px;
        ::v-deep(.el-tabs__header){
            margin: 0 0 10px;
        }
        ::v-deep(.el-tabs__content){
            height: calc(100% - 10px - var(--el-tabs-header-height));
        }
        .el-tab-pane{
            border: solid 1px #ccc;
        }
        .el-tab-pane, 
        .el-tab-pane > *{
            height: 100%;
            box-sizing: border-box;
            // box-shadow: 0px 0px 3px blue;
        }
    }
}

.baidu{
    height: var(--page-height);
}

.result-list{
    // margin: 20px 0 0;
    height: 100%;
    .dir{
        color: #999;
    }
    .file-name{
        margin: 0 0 0;
        background: #f6f6f6;
        line-height: 1.5;
        color: #999;
        padding: 0 8px;
        margin: 5px 0;
        border-radius: 3px;
    }
}

ul.one-file{
    margin: 0 50px 20px 20px;
}

li.one-dir{
    .dir-name{
        opacity: 1;
    }
    li.one-sentence{
        margin: 0 0 0 0;
        p{
            line-height: 2;
            margin: 0 0 0 30px;
            cursor: pointer;
            &:hover{
                background-color: #f2f4fb;
            }
        }
    }
}

time.start{
    margin: 0 8px 0 0;
    opacity: 0.5;
}

span.one-word{
    &[class~=matched]{
        color: red;
    }
    &[class~=l-01]{
        color: red;
        background: rgb(255, 255, 100);
    }
    &[class~=l-02]{
        background: rgb(255, 255, 100);
    }
    &[class~=l-03]{
        background: rgb(255, 255, 180);
    }
}


