
.page-body{
    --width: 800px;
    --padding-x: 80px;
    --top-sides-paddding: 20px;
    --height-status-bar: 30px;
    position: relative;
    min-height: 100%;
    .at-left, .at-right{
        flex-shrink: 1;
        background-color: #eee;
        // border: solid 1px blue;
        margin: 0;
        width: 500px;
        // max-width: 500px;
        max-height: 100vh;
        position: sticky;
        top: 0;
        bottom: 0;
        & > *{
            // width: inherit;
            // width: calc((100% - var(--width)) * 0.5 - 100px);
            box-sizing: border-box;
        }
    }
    .at-center{
        max-width: var(--width);
        flex: 1 1 var(--width);
        margin: 0 20px;
    }
    .at-left{
        max-width: 300px;
        flex-shrink: 1.5;
    }
}

.article-container{
    background-color: #f6f7f9;
    display: flex;
    justify-content: center;
    padding: 0 var(--top-sides-paddding);
    flex-flow: row nowrap;
    margin-bottom: calc(-1 * var(--height-status-bar));
}


.title{
    box-sizing: border-box;
    position: sticky;
    background-color: #a78a62;
    min-height: 80px;
    top: 0;
    padding: 20px var(--padding-x);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
    h1{
        font-weight: bold;
        font-size: 20px;
    }
    .btn-group{
        position: absolute;
        right: 10px;
        bottom: 3px;
        button{
            color: white;
        }
    }
}

.article{
    box-sizing: border-box;
    display: block;
    padding: 80px var(--padding-x) 200px;
    background-color: #fff7e9;
    min-height: 100vh;
    box-shadow: 0px 0px 20px rgba(0, 100, 0, 0.1);
    .section-box{
        min-height: 50vh;
        font-family: 'Open Sans';
    }
}

.paragraph{
    min-height: 0.5em;
    line-height: 2.6;
    &:not(.empty) + .paragraph:not(.empty){
        margin-top: 0.5em;
    }
    p.sentence{
        display: inline;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        padding: 2px 3px;
        margin-right: 0.5em;
        transition: all 0.3s;
        max-width: 100%;
        font-size: 18px;
        position: relative;
        &:focus-visible{
            outline: none;
            text-decoration: underline;
        }
        .word{
            display: inline;
            position: relative;
            opacity: 0.6;
            text-decoration: none;
            background-image: linear-gradient(#f0f2f5, #f0f2f5);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 0 100%;
            filter: blur(2px);
            // & + .word{
            //     &::before{
            //         content: " ";
            //     }
            // }
        }
        &[class ~= has-read-line],
        &[class ~= reading-line]{
            .word{
                // transition-property: background-size;
                // transition-duration: 150ms;
                // transition-timing-function: linear;
                opacity: 1;
                filter: blur(0);
            }
        }
        &[class~=reading-line],
        &:hover{
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
        &:nth-child(1){
            margin-left: 2em;
        }
        .word-has-read{
            background-size: 100% 100%;
            opacity: 1;
        }
        .matched{
            background-color: red;
            color: white;
            opacity: 1;
        }
    }

    &[class~=empty]{
        p.sentence{
            cursor: pointer;
            display: block;
            height: 1em;
            margin-right: 0;
            background-color: transparent;
        }
    }
}


.page-box{
    padding: 45px 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .el-pagination{
        & + .el-pagination{
            margin: 15px 0 0;
        }
    }
}


.status-bar{
    background-color: #eee;
    height: var(--height-status-bar);
    padding: 0 var(--top-sides-paddding);
    width: 100%;
    position: sticky;
    bottom: 0;
    border-top: solid 1px #aaa;
    opacity: 1;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
}

.bar-left{
    span{
        & + span{
            &::before{
                content: "|";
                padding: 0 1em;
                opacity: 0.5;
            }
        }
    }
}




.one-lang{
    color: #333;
    margin: 0 0 35px;
    .sex-type{
        display: flex;
        flex-flow: row wrap;
        padding-left: 30px;
        margin: 10px 0 0 0;
        position: relative;
        .icon{
            position: absolute;
            top: 2px;
            left: 0;
            color: #409eff;
            &[class~=F]{
                color: #ffc0cb;
            }
        }
        .one-voice{
            color: #999;
            margin: 0 20px 8px 0;
            cursor: pointer;
        }
    }
}

