.top-box{
    padding: 20px;
}
.article-list{
    margin: 20px 0 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* 3列，每列宽度相同 */
    li{
        padding: 20px;
        border: solid 1px #ccc;
    }
}

.sentence-list{
    margin: 20px 0 0;
}

.sentence{
    display: flex;
    & + .sentence{
        margin: 1em 0 0;
        padding: 1em 0 0;
        border-top: solid 1px #ccc;
    }
    .trans{
        opacity: 0.8;
        margin: 0 20px;
    }
    .text{
        width: 50%;
        flex-shrink: 0;
    }
    .buttons{
        margin: 0 0 0 auto;
        width: 80px;
        flex-shrink: 0;
    }
}


