.top-box{
    padding: 20px;
}
.article-list{
    margin: 20px 0 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* 3列，每列宽度相同 */
    li{
        padding: 20px;
        border: solid 1px #ccc;
    }
}
