
.outer{
    padding: 30px 55px;
    .folder-mark{
        opacity: 0.35;
        &[class~=has-media]{
            color: green;
            opacity: 0.7;
        }
    }
    .small-check{
        margin: 3px 0px 0px -5px;
        color: green;
    }
    .fa-file-alt{
        color: #aaa;
    }
    .fa-play-circle{
        // opacity: 0.9;
        color: #aaa;
        &[class~=doing]{
            color: #e9b048;
        }
        &[class~=done]{
            color: #4ca64c;
        }
    }
}

.path-list{
    .folder{
        cursor: pointer;
        &:hover{
            color: blue;
        }
    }
    .active{
        .folder{
            color: blue;
            font-weight: bold;
        }
    }
    .el-button{
        height: 26px;
    }
}

.root-choosing{
    background-color: #efefef;
    padding: 10px;
    li{
        cursor: pointer;
        line-height: 1.5;
        margin: 10px 0 0;
    }
    li:hover,
    li.active{
        color: blue;
    }
}

.legend{
    padding: 20px 0 10px;
}

.directory-list{
    display: flex;
    background: #f1f1f1;
    width: 100%;
    overflow-x: auto;
    min-height: 50vh;
    ul{
        flex: auto;
        overflow-y: auto;
        min-width: 230px;
        max-width: 330px;
        height: 700px;
        padding: 15px 20px;
        border: solid 1px #999;
        line-height: 1;
    }
    li.one-item{
        cursor: pointer;
        padding: 5px;
        line-height: 1.3;
        white-space: nowrap;
        // color: #333;
        +li{
            margin-top: 3px;
        }
        &.active,
        &:hover{
            color: blue;
            background: rgba($color: #000000, $alpha: 0.08);
        }
        &[class~=name-wrong]{
            color: red;
        }
        i.fas{
            font-size: 1em;
        }
    }
    .item-name{
        display: inline-block;
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
        padding-left: 4px;
    }
}


.tree-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    .label{
        margin-right: 50px;
        max-width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.tree-line .right-info{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .progress-bar{
        width: 70px;
        margin-right: 10px;
    }
    .count{
        width: 5em;
        &[class~=full]{
            color: green;
            font-weight: bold;
        }
    }
}

.media-list-in-dialog{
    min-height: 25vh;
    max-height: 58vh;
    overflow-y: auto;
}

.media-list-in-dialog .one-media{
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    &+li{
        margin: 10px 0 0;
    }
    &:hover{
        background: #eee;
    }
    .name{
        width: calc(100% - 180px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .status{
        padding-right: 10px;
        width: 150px;
        i{
            min-width: 1.1em;
            display: inline-block;
            &[class~=no-yet]{
                color: red;
            }
            &[class~=no-srt]{
                opacity: 0 !important;
            }
        }
    }
}

.mb-long{
    opacity: 1;
    // display: inline-block;
    // background-color: #eee;
    // width: calc(var(--minute, 1) * 60px);
    // max-width: 200px;
}

// 气泡中的 hash 值
.hash-value{
    line-height: 2;
    cursor: pointer;
    &:hover{
        color: blue;
    }
    &[class ~= copied]{
        font-weight: bold;
    }
}

.new-file-to-use{
    cursor: pointer;
    &:hover{
        color: blue;
    }
}
