.page-body-li{
    margin: 0 0 20px;
}

.day-title{
    // background-color: #efefef;
    border-top: solid 1px #ccc;
    padding: 3px;
    margin: 0 0 5px;
    em{
        font-weight: bold;
    }
}
